---
import GoogleProviderWrapper from "../components/Auth/GoogleProviderWrapper.jsx";
import Navbar from "../components/Layout/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <Navbar />
    <GoogleProviderWrapper client:load />
  </body>
</html>
