---
import BlogContent from "../../components/Blog/BlogContent";
import Navbar from "../../components/Layout/Navbar.astro";
const { id } = Astro.params;
---

<html lang="en">
  <Navbar />
  <head>
    <title>Chi tiết bài viết</title>
  </head>
  <body class="bg-white">
    <BlogContent client:only="react" blogId={id} />

  </body>
</html>
