---
import React from "react";
import BlogContent from "../../components/Blog/BlogContent";
---

<html lang="en">
  <head>
    <title>Chi tiết bài viết</title>
  </head>
  <body class="bg-white">
    <BlogContent client:only="react" />
  </body>
</html>
