---
import MainLayout from "../layouts/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import Blogs from "../components/Blog/Blogs"; 
---

<MainLayout>
  <!-- Header + Search -->
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        Articles, Stories & Tutorials for Tech People
      </h1>
      <SearchForm />
    </div>
  </div>

  <div class="mt-10">
    <Blogs client:only="react" />
  </div>
</MainLayout>