---
import RegisterForm from '../components/Auth/RegisterForm.jsx';
import Navbar from '../components/Navbar.astro';
---

<html lang="vi">
  <head>
    <Navbar />
    <meta charset="UTF-8" />
    <title>Đăng ký</title>
  </head>
  <body>
    <RegisterForm client:load />
  </body>
</html>
